{
  "extends": "./node_modules/rete-cli/.eslintrc",
  "rules": {
    "indent": ["error", 4],
    "lines-between-class-members": ["error"],
    "eol-last": ["error"],
    "quotes": ["error", "single"]
  }
}
